body{
  background-color: rgb(39, 43, 48);
}

.App-Grid-Container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100px auto 50px;
  grid-template-areas:
    "Header"
    "main"
    "footer";
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}
.App-Header {
  grid-area: Header;
  background-color: rgb(28, 30, 34);
}
.App-Footer {
  grid-area: footer;
  background-color: rgb(28, 30, 34);
}
.App-Main {
  grid-area: main;
  background-color: rgb(39, 43, 48);
  overflow-y: auto;
}

