@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}
.searchForm{
  display: flex;
  width: 100%;
}
.searchTerm {
  width: 100%;
  border: 3px solid rgb(255, 227, 0);
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: rgb(28, 30, 34);
}

.searchButton {
  height: 36px;
  border: 1px solid rgb(255, 227, 0);
  background: rgb(28, 30, 34);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap {
  width: 50%;
  margin: 1em auto;
  min-width: 240px;
  max-width: 360px;
}
