.tablePane{
	color: rgb(200, 200, 200);
}
.peopleTable {
	text-align: left;
	line-height: 1.5;
	margin: 1em auto;
}
.rowPane{
	padding: 0.5em 0 0.5em 0;
}
.loadingPane{
	width: 320px;
	margin: 0 auto;
	color: rgb(200, 200, 200);
}